@model IEnumerable<StoreFront.DATA.EF.Balloon>

@{
    ViewBag.Title = "Balloons";
}

<h2>@ViewBag.Title</h2>


@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BalloonImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BalloonTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsSold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seasonal.SeasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BalloonStatu.BalloonStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer.CompanyName)
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", new {id= item.BalloonID})">
                    <img src="~/Content/assets/images/Balloons/t_@item.BalloonImg"/>
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", new {id= item.BalloonID})"
                   title="@item.BalloonTitle">
                    @Html.DisplayFor(modelItem => item.BalloonTitle)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsSold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seasonal.SeasonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalloonStatu.BalloonStatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.CompanyName)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BalloonID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BalloonID }, new { @class = "text-danger" })|

                </td>
            }
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.BalloonID })
            </td>
        </tr>
    }

</table>
