@model StoreFront.DATA.EF.BalloonStatus

<div>
    <h4>BalloonStatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BalloonStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BalloonStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BalloonStatusID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
