<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <title>Balloon Store - @ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--
    Ramayana CSS Template
    https://templatemo.com/tm-529-ramayana
    -->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/Content/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/Content/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.css">
    <link href="~/Content/CustomStyles.css" rel="stylesheet" />
</head>

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main">
            <div class="inner">
                <!-- Header -->
                <header id="header">
                    <div class="logo">
                        <a href="@Url.Action("Index", "Home")">Happy Time Balloons</a>
                    </div>
                </header>
                <div id="mainContent">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- Sidebar -->
        <div id="sidebar">
            <div class="inner">                
                <!-- Menu -->
                <nav id="menu">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("Index", "Balloons")">Balloons</a></li>
                        <li><a href="@Url.Action("Index", "Accessories")">Accessories</a></li>
                        <li class="nav-item">
                            @if (Session["cart"] != null &&
                                ((Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>)Session["cart"]).Count > 0)
                            {
                                <a class="dropdown-item" href="@Url.Action("Index", "ShoppingCart")">
                                    Cart<i class="fa fa-shopping-cart"></i>
                                    
                                    @{
                                        //shows the number of types of items but doesnt reflect the numbers of each.
                                        //int items = ((Dictionary<int, MVC3.UI.MVC.Models.CartItemViewModel>)Session["cart"]).Count;

                                        Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel> cartItems = (Dictionary<int, StoreFront.UI.MVC.Models.CartItemViewModel>)Session["cart"];

                                        int items = 0;

                                        foreach (var item in cartItems)
                                        {
                                            items += item.Value.Qty;
                                        }
                                    }
                                    @items
                                </a>
                            }
                            else
                            {
                                @Html.ActionLink("Cart", "Index", "ShoppingCart")
                            }                            
                        </li>
                        @*<li>
            <span class="opener"><a href="@Url.Action("Index", "Home")">MenuChoice</a></span>
            <ul>
                <li><a href="#">First Sub Menu</a></li>
                <li><a href="#">Second Sub Menu</a></li>
            </ul>
        </li>*@
                        @*<li><a href="@Url.Action("Index", "Home")">MenuChoice</a></li>*@

                        @if (User.IsInRole("Admin") && Request.IsAuthenticated)
                        {
                            <li>
                                <span class="opener">Admin Features</span>
                                <ul>
                                    <li><a href="@Url.Action("Index", "UsersAdmin")">Users Admin</a></li>
                                    <li><a href="@Url.Action("Index", "RolesAdmin")">Roles Admin</a></li>
                                </ul>
                            </li>

                        }
                        <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                        @Html.Partial("_LoginPartial");
                    </ul>
                </nav>

                <!-- Featured Posts -->
                <div class="featured-posts">
                    <div class="heading">
                        <h2>Featured Posts</h2>
                    </div>
                    <div class="owl-carousel owl-theme">
                        <a href="#">
                            <div class="featured-item">
                                <img src="~/Content/assets/images/Accessories/t_smallBow.jpg" alt="small bow">
                                <p>A Small Bow.</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="featured-item">
                                <img src="~/Content/imgstore/balloons/t_dracula.jpg" alt="dracula">
                                <p>A Dracula Balloon.</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="featured-item">
                                <img src="~/Content/assets/images/Accessories/t_smallTeddy.jpg" alt="small bear">
                                <p>Small Teddy Bear.</p>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Footer -->
                <footer id="footer">
                    <p class="copyright">
                        Copyright &copy; 2020 David See
                        <br>Designed by <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a>
                    </p>
                </footer>

            </div>
        </div>

    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/js/browser.min.js"></script>
    <script src="~/Content/assets/js/breakpoints.min.js"></script>
    <script src="~/Content/assets/js/transition.js"></script>
    <script src="~/Content/assets/js/owl-carousel.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>

    @RenderSection("scripts", required: false)
</body>

</html>
