<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="David See">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <title>Ballons - @ViewBag.Title</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--
    Ramayana CSS Template
    https://templatemo.com/tm-529-ramayana
    -->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/Content/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/Content/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.css">
</head>

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main">
            <div class="inner">
                <!-- Header -->
                <header id="header">
                    <div class="logo">
                        <a href="@Url.Action("Index", "Home")">Balloon Store</a>
                    </div>
                </header>
                <div id="mainContent">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- Menu -->
        <nav id="menu">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li>
                    <span class="opener"><a href="@Url.Action("Index", "Books")">Books</a></span>
                    <ul>
                        <li><a href="@Url.Action("Index", "Authors")">Authors</a></li>
                        <li><a href="@Url.Action("Index", "Genres")">Genres</a></li>
                    </ul>
                </li>
                <li><a href="@Url.Action("Index", "Magazines")">Magazines</a></li>

                @if (User.IsInRole("Admin") && Request.IsAuthenticated)
                {
                    <li>
                        <span class="opener">Admin Features</span>
                        <ul>
                            <li><a href="@Url.Action("Index", "UsersAdmin")">Users Admin</a></li>
                            <li><a href="@Url.Action("Index", "RolesAdmin")">Roles Admin</a></li>
                        </ul>
                    </li>

                }
                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                @Html.Partial("_LoginPartial");
            </ul>
        </nav>
        <!-- Featured Posts -->
        <div class="featured-posts">
            <div class="heading">
                <h2>Featured Posts</h2>
            </div>
            <div class="owl-carousel owl-theme">
                <a href="#">
                    <div class="featured-item">
                        <img src="~/Content/assets/images/featured_post_01.jpg" alt="featured one">
                        <p>Aliquam egestas convallis eros sed gravida. Curabitur consequat sit.</p>
                    </div>
                </a>
                <a href="#">
                    <div class="featured-item">
                        <img src="~/Content/assets/images/featured_post_01.jpg" alt="featured two">
                        <p>Donec a scelerisque massa. Aliquam non iaculis quam. Duis arcu turpis.</p>
                    </div>
                </a>
                <a href="#">
                    <div class="featured-item">
                        <img src="~/Content/assets/images/featured_post_01.jpg" alt="featured three">
                        <p>Suspendisse ac convallis urna, vitae luctus ante. Donec sit amet.</p>
                    </div>
                </a>
            </div>
        </div>
        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">
                Copyright &copy; 2019 Company Name
                <br>Designed by <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a>
            </p>
        </footer>

    </div>


    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/js/browser.min.js"></script>
    <script src="~/Content/assets/js/breakpoints.min.js"></script>
    <script src="~/Content/assets/js/transition.js"></script>
    <script src="~/Content/assets/js/owl-carousel.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>

    @RenderSection("scripts", required: false)
</body>

</html>
