@model StoreFront.DATA.EF.Accessory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div id="aContainer">
    <div id="aHeader">
        @Html.DisplayFor(model => model.AccessName)
    </div>
    <div id="aLeft">
        <p>
            <img src="~/Content/assets/images/Accessories/@Model.AccessImage" alt="@Model.AccessName" />
        </p>
        <p>
            <strong>
                @Html.DisplayNameFor(model => model.AccessName)
            </strong>
        </p>

    </div>
    <div id="aRight">
        <p>
            <strong>
                @Html.DisplayNameFor(model => model.AccessDesc)
                @Html.DisplayFor(model => model.AccessDesc)
            </strong>
        </p>
    </div>
    <div class="clearfix"></div>
    <div id="bFooterLeft">
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.AccessID })
        }
    </div>
    <div id="bFooterRight">
        @Html.ActionLink("Back to Books", "Index", null, new { @class = "btn btn-secondary" })
    </div>

    <div class="clearfix"></div>











</div>
