@model IEnumerable<StoreFront.DATA.EF.Accessory>

@{
    ViewBag.Title = "Accessories";
}

<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessDesc)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessDesc)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.AccessID })
                    @Html.ActionLink("Edit", "Edit", new { id = item.AccessID })
                </td>
            }
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.AccessID })
            </td>
        </tr>
    }

</table>

