@model IEnumerable<StoreFront.DATA.EF.Payment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.isCash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isCheck)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isCard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckNbr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardNbr)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.isCash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isCheck)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isCard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckNbr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardNbr)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PayID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PayID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PayID })
        </td>
    </tr>
}

</table>
